@*
For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewData["Title"] = "Cade Gardanier!";
}




<h1>Cade Gardanier</h1>
<br />
<img src="img/surf.jpg" width="250" height="315" />
<br />
<br />
<p>I hope to learn a lot in this class. I want to sharpen my programming skills as well as gain a better understanding of app development. By the end of this semester I want to build a cool new app.</p>
<br />
<br />
<h1>Top #3 Jobs</h1>
<ul>
    <li>1: Software Engineer</li>
    <li>2. Front-End Developer</li>
    <li>3. Data Analyst</li>
</ul>
<br />